@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --gradient: linear-gradient(to top left, #085078, #85d8ce);
        --background: 0 0% 99%;
        --foreground: 0 0% 5%;
        --card: 0 0% 92%;
        --card-foreground: 0 0% 5%;
        --popover: 0 0% 92%;
        --popover-foreground: 0 0% 5%;
        --primary: 217 62% 71%;
        --primary-foreground: 0 0% 5%;
        --secondary: 247 62% 67%;
        --secondary-foreground: 0 0% 0%;
        --muted: 0 0% 81%;
        --muted-foreground: 0 0% 30%;
        --accent: 187 62% 68%;
        --accent-foreground: 0 0% 5%;
        --destructive: 0 100% 59%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 75%;
        --input: 0 0% 82%;
        --ring: 211 62% 61%;
        --chart-1: 217 62% 62%;
        --chart-2: 7 62% 62%;
        --chart-3: 67 62% 62%;
        --chart-4: 187 62% 62%;
        --chart-5: 247 62% 62%;
        --radius: 1.25rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 0 0% 8%;
        --foreground: 0 0% 95%;
        --card: 0 0% 16%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 16%;
        --popover-foreground: 0 0% 95%;
        --primary: 217 62% 53%;
        --primary-foreground: 0 0% 100%;
        --secondary: 247 62% 57%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 36%;
        --muted-foreground: 0 0% 70%;
        --accent: 187 62% 56%;
        --accent-foreground: 0 0% 5%;
        --destructive: 0 100% 41%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 21%;
        --input: 0 0% 25%;
        --ring: 211 62% 61%;
        --chart-1: 217 62% 62%;
        --chart-2: 7 62% 62%;
        --chart-3: 67 62% 62%;
        --chart-4: 187 62% 62%;
        --chart-5: 247 62% 62%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
